* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar{
  display:none;
}

body {
  font-family: 'PingFang SC', '微软雅黑', sans-serif;
}

li {
  list-style-type: none;
}

.search-wrap {
  $height: 55px;

  display: flex;
  height: $height;
  background-color: #f2f2f2;
  padding: 8px 7px;

  .search-input {
    flex: 1;
    border-radius: 5px;
    border: none;
    outline: none;
    padding-left: .5em;
    font-size: 16px;
  }

  .search-input:focus + .search-btn {
    margin-right: 0;
  }

  .search-btn {
    position: relative;
    padding-left: 10px;
    margin-right: -44px;
    transition: margin-right .5s;
    .search-icon {
      width: 22px;
      height: 22px;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      font-style: normal;
      color: #3899ff;
      text-align: left;
      text-indent: -9999px;
      direction: ltr;
      border-radius: 50%;
      transform: rotate(45deg);
      margin: 4px 4px 8px 8px;
      border: 2px solid;

      &::before {
        content: '';
        width: 4px;
        height: 11px;
        box-shadow: inset 0 0 0 32px;
        top: 19px;
        border-radius: 0 0 1px 1px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

.code-group {
  &::before {
    content: attr(data-key);
    display: block;
    height: 27px;
    line-height: 27px;
    padding-left: 16px;
    background-color: #e8e8e8;
    color: #252525;
    font-size: 12px;
    font-weight: bold;
  }

  &.cursor {
    padding-top: 27px;
    &::before {
      position: fixed;
      width: 100%;
      top: 0;
      z-index: 2;
    }
  }
}

.code-item-target {
  flex: 1;
  display: flex;
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  padding: 0 26px 0 16px;
  height: 100%;
}

.code-item {
  $height: 14px;
  display: flex;
  margin: 18px 0;
  font-size: 14px;
  height: $height;
  line-height: $height;
  position: relative;
}

/* geek masterpiece! */
.code-item-shadow-target {
  position: absolute;
  top: 0;
  transform: translateY(-32px);
}

.code-item-area {
  flex: 1;
  align-items: center;
}

.code-item-code {
  color: #3899ff;

  &::before {
    content: '+';
  }
}

.short-map-menu {
  position: fixed;
  right: 0;
  top: 50%;
  width: 15px;
  transform: translateY(-50%);

  .short-map-item {
    font-size: 11px;
    -webkit-text-size-adjust: none;
    text-align: center;
    color: #3899ff;
    font-weight: bold;
  }
}
